*, html {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.topbar {
    display: flex;
    padding-top: 15px;
    align-items: flex-end;
    min-width: 1280px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

.right-bar {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 30px;
}

#signin-btn {
    padding-left: 10px;
}

.signin-btn {
    display: inline-block;
    line-height: 28px;
    text-decoration: none;
    padding: 0 12px;
    color: white;
    background: #437edd;
    border: 1px;
    border-style: solid;
    border-color: #4285f4;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;
}

#app-icon {
    padding: 2px;
}

.app-icon {
    background-image: url(../img/google-icons.png);
    height: 33px;
    width: 33px;
    background-position: -130px -37px;
    opacity: .65;
    cursor: pointer;
}

#app-icon:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

.left-bar {
    display: flex;
    align-items: center;
}

.google-logo {
    height: 30px;
    width: 92px;
    padding: 4px 40px 0px 30px;
}

.search-bar {
    display: flex;
    min-width: 665px;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 40px;
    outline: none;
    align-items: center;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


.searchbox {
    border: none;
    outline: none;
    height: 38px;
    width: 85%;
    padding-left: 20px;
    border-radius: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 34px;
}

.searchbox::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .87);
}

.searchbox::-moz-placeholder {
    color: rgba(0, 0, 0, .87);
}

.searchbox:-ms-input-placeholder {
    color: rgba(0, 0, 0, .87);
}


.mic-icon {
    height: 23px;
    padding-left: 10px;
    cursor: pointer;
}

.mag-icon {
    height: 25px;
    padding-left: 10px;
    cursor: pointer;
}

.button-bar {
    display: flex;
    width: 100%;
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 56px;
    color: #666;
    font-size: 13px;
    align-items: baseline;
    min-width: 1280px;
    
}

ul {
    list-style-type: none;
}

.left-btn-br {
    display: flex;
    min-width: 700px;
    align-items: baseline;
}

.left-btn-br > li > a {
    padding: 28px 12px 12px 10px;
    height: 16px;
}

li > a {
    text-decoration: none;
    color: #666;
}

.right-btn-br {
    display: flex;
    align-items: baseline;
}

.settings {
    padding: 26px 12px 12px 10px;
}

.search-all {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    padding: 20px 12px 12px 10px;
    height: 16px;
    line-height: 16px;
    margin-left: 180px;
}

.tools {
    padding: 8px 11px;
}

.tools:hover {
    
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 2px;
    line-height: 10px;
    cursor: pointer;
    margin: 0 0 0 -1px;
    padding: 8px 11px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.result-stat {
    margin-left: 180px;
    font-size: 14px;
    line-height: 43px;
    color: #70757a;
}

.snippet {
    margin-left: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe1e5;
    box-shadow: none;
    border-radius: 10px;
    height: auto;
    width: 630px;
}

.snippet-img {
    display: flex;
    padding: 10px 0 10px 10px;
    overflow: hidden;
}

.snippet-img > img {
    padding: 4px 0 0 4px;
    border-radius: 3px;
}

.snippet-txt {
    padding-left: 10px;
    line-height: 25px;
}

.snippet-txt > ol {
    padding-left: 17px;
    padding-top: 10px;
}